<% include ./partials/header-white-background %>

<div class="outer" style="padding-top: 0;">
<div class="headerBackground" style="padding-top: 20px;">
<h1 class="heroHeading">Search properties for sale and to rent <span class="pak">in the Pakistan</span> </h1>
<div class="container">
   <div class="row">
   <div class="col-md-8 col-sm-12 col-md-offset-2">
    <div class="well formOnIndex">
        <form action="/search" class="form-horizontal">
        
        <div class=" stylishRadio">
        <div class="col-sm-12 col-xs-12 col-sm-offset-1">
        <input class="plotIndex" type="radio" id="radio3" name="but" value="" checked>
           <label for="radio3" style="margin-bottom: 2px;">PROPERTIES</label>
        <input class="realPlotIndex" data-id="propertyTypeIndex landAreaIndex purposeIndex"  type="radio" id="radio4" name="but"value="plot">
            <label for="radio4" style="margin-bottom: 2px;">PLOTS</label>
        <input data-id="rentMonthly purposeIndex" class="hostelIndex" type="radio" id="radio5" name="but"value="hostel">
            <label for="radio5" style="margin-bottom: 2px;">HOSTELS</label>
            </div><!--col-->
         <hr class="hrIndex">
            </div><!--stylishRadio-->
            
        <div  id="purposeIndex">
         <div class="form-group stylishRadio">
          <span class="col-md-2 control-label" ><strong>Purpose:</strong> </span>
               <div class="col-md-10">
               <input type="radio" id="radio1" name="purpose" value="sale">
               <label for="radio1" style="margin-bottom: 3px;">For SALE</label>
                <input type="radio" id="radio2" name="purpose"value="rent">
                <label for="radio2" style="margin-bottom: 3px;">TO RENT</label> 

                </div>
            </div><!--form-group stylishRadio-->
            </div><!--purposeIndex-->
            
            <div class="form-group">
                <label for="inputCity" class="col-md-2 control-label">
                    City:
                </label>
                <div class="col-md-8">
                    <select name="city" class="form-control" id="inputCity">
                        <option value="">---Select---</option>
                        <option value="lahore">Lahore</option>
                        <option value="faisalabad">Faisalabad</option>
                        <option value="islamabad">Islamabad</option>
                        <option value="karachi">Karachi</option>
                        <option value="peshawar">Peshawar</option>
                        <option value="multan">multal</option>
                    </select>
                </div>
            </div><!--form-group-->            
            
            
            <div class="form-group ">
               <div class="" id="propertyTypeIndex">
                <label for="inputtype" class="control-label col-md-2 ">
                    Property Type:
                </label>
               
                   <div class="col-md-3">
                    <select name="type" class="form-control " id="inputtype">
                        <option value="">Any</option>
                        <option value="home">---Residential---</option>
                        <option value="home">Home</option>
                        <option value="commercial">---Commercial---</option>
                        <option value="shop">Shop</option>
                        <option value="office">Office</option>
                        <option value="plaza">Plaza</option>
                        <option value="factory">Factory</option>
                    </select>
                    </div><!--col-sm-6-->
                </div><!--none propertyTypeIndex-->
            
                <div class="none" id="rentMonthly">
                <label for="inputMax" class="control-label col-md-2" >
                Rent/Month:
                </label>
                </div><!--rentMonthly-->
                
                <label id="maxPrice" for="inputMax" class="control-label col-md-2" >
                Max Price:
                </label>
                   <div class="col-md-3">
                    <input type="number" class="form-control" name="price" placeholder="Enter Max Price" id="inputMax">
               </div><!--col-sm-10-->
               
               <div class="none" id="landAreaIndex">
               <label for="inputLandArea" class="control-label col-md-2" >
                Land Area:
                </label>
                   <div class="col-md-3">
                    <input type="number" class="form-control" name="landArea" placeholder="Size in Marlas" id="inputLandArea">
               </div><!--col-sm-10-->
               </div><!--landAreaIndex-->
               
             </div><!--form-group-->
            
            <div style="margin-left:0%;" class="form-group">
                <button class="control-label btn btn-primary" style="border-radius: 5px;">Search Property</button>
            </div>
        </form><!--form-->
    </div><!--well-->
    </div><!--col-sm-6-->
    </div><!--row-->
</div><!--container-->
<!--<h1 class="heroHeadingBottom">Search properties for sale and to rent in the Pakistan</h1>-->

</div><!--headerBackground-->
</div><!--outer-->


<div style="background-color:#E5E5E5">
       <div id="carousel">
  <div class="btn-bar">
    <div id="buttons"><a id="prev" href="#"><</a><a id="next" href="#">></a> </div></div>
    <div id="slides">
        <ul>
            
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase">Pakistan Biggest Property Database</p>
                </div>
            </li>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase">Find Your Dream Living Within Pakistan</p>
                </div>
            </li>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase text-left">Buy | Sale | Rent &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
            </li>
        </ul>
    </div>
   </div>
   </div>
   
   <!--========================================================-->

   <div  style="background:#32325D;color:white;padding-top:20px;padding-bottom:20px;">
   <div class="container">
       <div class="row">
           <div class="col-sm-4 text-center">
                <h1><span class="glyphicon glyphicon-home" style="border:1px white solid;border-radius:50px;padding:20px;font-size:50px;"></span></h1>
                <h1 style="font-size:20px;font-weight:700;">List Your Property</h1>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nobis error voluptatibus rerum ullam. Mollitia praesentium porro, dolorem iste voluptatem impedit veritatis et, repudiandae voluptatum illo, eum. Totam, cupiditate, earum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur repellendus exercitationem in explicabo suscipit, fugiat labore deleniti. Sint quaerat facilis, nesciunt suscipit assumenda porro velit asperiores qui! Quam, repudiandae, accusamus.</p>
           </div>
           
           <div class="col-sm-4 text-center">
                <h1><span class="glyphicon glyphicon-fullscreen" style="border:1px white solid;border-radius:50px;padding:20px;font-size:50px;"></span></h1>
                <h1 style="font-size:20px;font-weight:700;">Advertise Rentals</h1>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dignissimos aliquid architecto nihil a beatae tenetur, expedita harum quas blanditiis magni suscipit necessitatibus provident quo nisi quisquam voluptatibus, repellat sit!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur repellendus exercitationem in explicabo suscipit, fugiat labore deleniti. Sint quaerat facilis, nesciunt suscipit assumenda porro velit asperiores qui! Quam, repudiandae, accusamus.</p>
           </div>
           
           <div class="col-sm-4 text-center">
                <h1><span class="glyphicon glyphicon-user" style="border:1px white solid;border-radius:50px;padding:20px;font-size:50px;"></span></h1>
                <h1 style="font-size:20px;font-weight:700;">Find Your Customer</h1>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quaerat fuga necessitatibus, similique inventore velit placeat, numquam enim recusandae dicta quas quibusdam aliquam, optio minus ea reiciendis, ab deserunt tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur repellendus exercitationem in explicabo suscipit, fugiat labore deleniti. Sint quaerat facilis, nesciunt suscipit assumenda porro velit asperiores qui! Quam, repudiandae, accusamus.</p>
           </div>
           
        </div>
       </div>
   </div>   
   
   <div class="container" style="padding-top:30px;">
      
       <div class="row">
          <div class="col-sm-3 " >
          <h1 style="font-weight:700;color:#3A587C;">Now you can search properties anytime, anywhere!</h1>    
          </div>
          <div class="col-sm-3" >
              <p style="padding-top:20px;"><strong>House / Shops / Offices</strong></p>
               <hr class="hrIndex" style="width:100%; margin-top:0;">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fuga nulla assumenda quisquam expedita ducimus exercitationem, asperiores veniam, animi eveniet voluptates nisi harum ex, cumque minus nihil odit hic molestiae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi alias ex eius dolorum, omnis molestiae repellat porro iure magnam possimus iste, minima, rem doloremque, quo hic fugiat adipisci cupiditate ut.</p>
          </div> 
          <div class="col-sm-3" >
              <p style="padding-top:20px;"><strong>Hostels for Students</strong></p>
               <hr class="hrIndex" style="width:100%; margin-top:0;">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fuga nulla assumenda quisquam expedita ducimus exercitationem, asperiores veniam, animi eveniet voluptates nisi harum ex, cumque minus nihil odit hic molestiae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi alias ex eius dolorum, omnis molestiae repellat porro iure magnam possimus iste, minima, rem doloremque, quo hic fugiat adipisci cupiditate ut.</p>
          </div>
          <div class="col-sm-3" >
              <p style="padding-top:20px;"><strong>Plots</strong></p>
               <hr class="hrIndex" style="width:100%; margin-top:0;">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fuga nulla assumenda quisquam expedita ducimus exercitationem, asperiores veniam, animi eveniet voluptates nisi harum ex, cumque minus nihil odit hic molestiae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi alias ex eius dolorum, omnis molestiae repellat porro iure magnam possimus iste, minima, rem doloremque, quo hic fugiat adipisci cupiditate ut.</p>
          </div> 
          
       </div>
   </div>


<div class="container">
  <div class="row">   
        <div class="col-sm-8 col-sm-offset-1">
           <% property.forEach(function(prop){ %>
            <div class="eachRow row relative">
                <div class="me col-sm-6">
                    <img class="search-image " src="<%= prop.image[0] %>" alt="Here image">
                </div>
                <div class="col-sm-6 search-block" >
                     <p class="propTitle"><%= prop.propertyTitle.substring(0,27) %>...</p>
                     <p class="propLocation"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= prop.location.substring(0,41) %>...</p>
                     <% if(prop.purpose == "sale"){%>
                     <p class="propPrice">
                     Rs, <%= prop.price %>
                     </p><!--propPrice-->
                     <% } else { %>
                     <p class="propPrice">
                     Rent/Month <%= prop.price %>
                     </p><!--propPrice-->
                     <% } %>
                     <p class="propDescription"><%= prop.description.substring(0,100) %>.....</p>
                     <a href="/property/<%= prop._id %>" class="btn btn-primary">More Details</a>
                     <a href="#" class="btn btn-primary pull-right contactOwner">Contact Owner</a>
                     
                </div>
                <p class="date pull-right">Posted On:<%= prop.created.toDateString() %></p>
            </div><!--row-->
            <% }); %>
        </div>
    </div><!--outer row-->
</div><!--container-->

 
 
<% include ./partials/footer %>
