<% include ./partials/header %>


<div class="container " style="padding-top:30px;">
    <div class="well">
        <div class="row">
            <div class="col-md-10">
                <ul class="pgwSlider " >
                   <% property.image.forEach(function(prop){ %>
                    <li>
                    <img src="<%= prop %>" alt="Paris, France" data-description="Eiffel Tower and Champ de Mars">
                    </li>
                    <% }); %>
                </ul>
            </div><!--col-->
        </div><!--row-->
        <div class="detail-content">
            <h1><%= property.propertyTitle %></h1>
            <p><%= property.location %></p>
            <hr>
            
            <!--Rs vs Monthly REnt-->
            <% if(property.purpose){%>
                <% if(property.purpose == "sale"){%>
                <h2>Price: <%= property.price%></h2>
                <%} else {%>
                <h2>Rent/Month: <%= property.price%></h2>
                <%}%>
            <% } else {%>
                <% if(property.propertyType == "plot"){%>
                    <h2>Price: <%= property.price%></h2>
                <%} else {%>
                    <h2>Price: <%= property.price%></h2>
                <%}%>
            <% } %>
            
            <!--If propertyType is "home"-->
            <% if(property.propertyType == "home"){%>
                <p>Bed Rooms: <%= property.propertyTypeDetails.bedRoom %></p>
                <p>Bath Rooms: <%= property.propertyTypeDetails.bathRoom %></p>
                <p>Number Of Stories: <%= property.propertyTypeDetails.numberOfStories %></p>
                <p>Car Garage: <%= property.propertyTypeDetails.garage %></p>
            <%}%>
            
            <p>Land Area: <%= property.landArea %></p>
            <div class="row">
                <div class="col-sm-4">
                    <p>Description: <br> <%= property.description %></p>
                </div><!--col-->
            </div><!--row-->
            
            <!--Owner contact info-->
            <h2>Contact Owner Of Property</h2>
            <p class="bold"><%= property.ownerDetails.name.toUpperCase()%></p>
            <p><span class="bold">Mobile Phone:</span> <%= property.ownerDetails.mobileNumber%></p>
            <p><span class="bold">Home Phone:</span> <%= property.ownerDetails.homeNumber%></p>
            <p><span class="bold">Email:</span> <%= property.ownerDetails.contactEmail%></p>
        </div><!--detail-content-->
    </div><!--well-->
</div><!--container-->

<% include ./partials/footer %>



