<% include ./partials/header-search-result %>

<div class="outer">

<div class="well formOnIndex " style="background-color: rgba(50, 50, 93, 0.88);">
<div class="container" >
   <div class="row">
    
        <form action="/search" class="form-horizontal">
           
            <div class="form-group">
                <label for="inputCity" class="col-md-2 control-label">
                    City:
                </label>
                <div class="col-md-2">
                    <select name="city" class="form-control" id="inputCity">
                        <option value="<%= city %>"><%= city %></option>
                        <option value="lahore">Lahore</option>
                        <option value="faisalabad">Faisalabad</option>
                        <option value="islamabad">Islamabad</option>
                        <option value="karachi">Karachi</option>
                        <option value="peshawar">Peshawar</option>
                        <option value="multan">multal</option>
                    </select>
                </div>
                
                <label  for="inputMax" class="control-label col-md-2" > <!--id="maxPrice"-->
                Max Price:
                </label>
                <% if(price){ %>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="price" value="<%= price %>" placeholder="Enter Max Price" id="inputMax">
               </div><!--col-sm-2-->
               <% } else { %>
                   <div class="col-md-2">
                    <input type="number" class="form-control" name="price"  placeholder="Enter Max Price" id="inputMax">
               </div><!--col-sm-2-->
               <% } %>
               
            </div><!--form-group-->
            
            <div class="form-group ">
                <label for="inputtype" class="control-label col-md-2 ">
                    Property Type:
                </label>
               
                <div class="col-md-2">
                    <select name="type" class="form-control " id="inputtype">
                        <option value="<%= type %>"><%= type %></option>
                        <option value="home">---Residential---</option>
                        <option value="home">Home</option>
                        <option value="plot" >---Plot---</option>
                        <option value="plot">Plot</option>
                        <option value="hostel">---Hostel---</option>
                        <option value="hostel">Hostel</option>
                        <option value="commercial">---Commercial---</option>
                        <option value="shop">Shop</option>
                        <option value="office">Office</option>
                        <option value="plaza">Plaza</option>
                        <option value="factory">Factory</option>
                    </select>
                </div><!--col-sm-2-->
                
                <label for="inputPurpose" class="control-label col-md-2 ">
                    Purpose:
                </label>
                <div class="col-md-2">
                    <select name="purpose" class="form-control " id="inputPurpose">
                        <option  value=""><strong>---Select---</strong></option>
                        <option  value="sale">For Sale</option>
                        <option  value="rent">To Rent</option>
                    </select>
                </div><!--col-sm-2-->
            </div><!--form-group-->  
             
            <div  class="form-group">
               
                <label for="inputLandArea" class="control-label col-md-2" >
                Land Area:
                </label>
                   <div class="col-md-2">
                    <input type="number" class="form-control" name="landArea" placeholder="Size in Marlas" id="inputLandArea">
                   </div><!--col-sm-3-->
            </div> 
            
            <div class="form-group">
                <div class="col-sm-4 search-result-button" >
                <button class=" btn btn-primary" style="font-weight:700;border-radius:5px;" >Search Property</button>
                </div>
            </div>
                 
        </form>
    
    </div><!--row-->
</div><!--container-->
</div><!--formOnIndex-->


<% if(notFound){ %>
<div  style="background-color:pink; margin-top:-20px;">
    <div class="container "  style="background-color:pink;">
    <h1 style="color:black;font-weight:800;"><%= notFound%></h1>
</div>
</div>

<% } %>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">
           <% property.forEach(function(prop){ %>
            <div class="eachRow row relative">
                <div class="me col-sm-6">
                    <img class="search-image " src="<%= prop.image[0] %>" alt="Here image">
                </div>
                <div class="col-md-6 search-block" >
                     <p class="propTitle"><%= prop.propertyTitle.substring(0,27) %>...</p>
                     <p class="propLocation"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= prop.location.substring(0,41) %>...</p>
                     <% if(prop.purpose == "sale"){%>
                     <p class="propPrice">
                     Rs, <%= prop.price %>
                     </p><!--propPrice-->
                     <% } else { %>
                     <p class="propPrice">
                     Rent/Month <%= prop.price %>
                     </p><!--propPrice-->
                     <% } %>
                     <p class="propDescription"><%= prop.description.substring(0,100) %>.....</p>
                     <a href="/property/<%= prop._id %>" class="btn btn-primary">More Details</a>
                     <span class="btn btn-primary pull-right contactOwner" style="border-radius:3px;">Contact Owner</span>
                     <span class="pull-right none mobileNumber" style="font-weight:800;"><%=prop.ownerDetails.mobileNumber%></span>
                     
                </div>
                <p class="date pull-right">Posted On:<%= prop.created.toDateString() %></p>
            </div><!--row-->
            <% }); %>
        </div>
    </div><!--outer row-->
</div><!--container-->

</div><!--outer-->
 
<% include ./partials/footer %>